@import "./scss/_config";

body {
  position: relative;
  overflow-x: hidden;
  scrollbar-width: none;
  background: #fff;
  font-family: "Vazirmatn", sans-serif;

  @import "./scss/error-page";
  @import "./scss/form_ui";
  @import "./scss/dashboard";
  @import "./scss/chats";

  main {
    min-height: calc(100dvh - 300px);
  }
}
